/* Fonts-family */
@font-face {
  font-family: 'Proxima Nova Rg';
  src: url('../fonts/ProximaNova-Bold.woff2') format('woff2'), url('../fonts/ProximaNova-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Proxima Nova Rg';
  src: url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Colors */
/* Basic setting */
html {
  font-size: 10px;
}
body {
  font-family: 'ProximaNova-Regular', sans-serif;
}
button:focus,
input:focus,
a:focus {
  outline: none;
}
.button {
  font-size: 1.1rem;
  background-color: #f9b002;
  color: white;
  padding: 1rem 3rem;
  border-radius: 8px;
  text-transform: uppercase;
  border: none ;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.button:hover {
  background-color: #c68c02;
}
/* Typography */
section {
  padding: 10rem 0;
}
/* main */
.main {
  padding: 3rem 5rem;
  background: #ffffff url(../img/main-back.jpg) center center no-repeat;
  background-size: cover;
}
.main-content {
  margin-top: 12rem;
}
.main-content h1 {
  font-family: 'ProximaNova-Bold', sans-serif;
  font-size: 2.5rem;
  line-height: 1.5;
  text-transform: uppercase;
}
.main-subtitle {
  margin-top: 2rem;
  font-size: 2rem;
}
.main span {
  display: inline-block;
  padding: 2rem 3rem;
  margin-top: 4rem;
  font-size: 1.2rem;
  color: white;
  background-color: #46b914;
  text-align: center;
}
.main span strong {
  font-size: 1.6rem;
  font-family: 'ProximaNova-Bold', sans-serif;
}
.main-triger {
  margin-top: 2rem;
  display: block;
  font-size: 1.3rem;
  text-transform: uppercase;
}
.main-form {
  background-color: white;
  padding: 2.5rem 3.5rem;
  text-align: center;
}
.main-form-header {
  font-size: 1.6rem;
}
.main-form-header strong {
  font-size: 1.7rem;
}
.main-form-input {
  display: block;
  border: 1px solid grey;
  width: 100%;
  padding: 1.5rem;
}
.main-form label {
  display: inline-block;
  background-color: white;
  font-size: 1.2rem;
  padding: 0.5rem;
  -webkit-transform: translateY(70%);
          transform: translateY(70%);
}
.main-form-btn {
  margin-top: 1rem;
  width: 100%;
  height: 4rem;
  font-size: 1.2rem;
}
.main-form small {
  display: block;
  font-size: 0.9rem;
  margin-top: 1rem;
}
.header {
  height: 7rem;
}
.wrap {
  display: table;
  width: 100%;
  height: 7rem;
}
.wrap-block {
  text-align: right;
  display: table-cell;
  vertical-align: middle;
}
.phone-link {
  display: inline-block;
  color: #1a1820;
  font-weight: 900;
  font-size: 1.5rem;
  height: 7rem;
  line-height: 7rem;
}
.section-header {
  text-align: center;
  font-family: 'ProximaNova-Bold', sans-serif;
  font-size: 3rem;
  margin-bottom: 10rem;
}
.slick-active {
  outline: none;
}
.features-block {
  text-align: center;
}
.features-block p {
  font-size: 1.5rem;
}
.features-block h3 {
  font-family: 'ProximaNova-Bold', sans-serif;
  font-size: 2rem;
  margin-bottom: 3rem;
}
.features-img {
  height: 8rem;
  margin-bottom: 3rem;
}
.features-img img {
  display: block;
  margin: 0 auto;
}
.prev {
  position: absolute;
  z-index: 99;
  top: 50%;
  left: 0;
  border: none;
  width: 2rem;
  height: 2rem;
  background: url(../img/features/Left-arrov.png) center no-repeat;
  background-size: 70%;
}
.next {
  position: absolute;
  z-index: 99;
  top: 50%;
  right: 0;
  border: none;
  width: 2rem;
  height: 2rem;
  background: url(../img/features/Right-arrow.png) center no-repeat;
  background-size: 70%;
}
/* Оформления всплывющего окна	*/
.popup {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background: rgba(0, 0, 0, 0.5);
}
.popup-content {
  position: fixed;
  left: 50%;
  top: 10%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: white;
  text-align: center;
  padding: 2rem 1rem;
}
.popup-close {
  position: fixed;
  right: -2.1rem;
  top: -1.2rem;
  border: none;
  font-size: 3rem;
  background: none;
}
.popup h4 {
  font-family: 'ProximaNova-Bold', sans-serif;
  font-weight: 600;
}
.popup p {
  font-size: 1.3rem;
  margin-bottom: -3rem;
}
.prices {
  background: #46b914 url(../img/back-prices.jpg) center;
}
.prices .section-header_light {
  color: white;
}
.prices .section-header_light h2 {
  font-family: 'ProximaNova-Bold', sans-serif;
  font-size: 3.6rem;
}
.prices .section-header_light p {
  margin-top: 4rem;
  font-size: 1.5rem;
}
.prices-block {
  background: white;
  text-align: center;
  min-height: 55rem;
  margin-bottom: 4rem;
  -webkit-box-shadow: 7px 12px 21px 0px rgba(0, 0, 0, 0.17);
          box-shadow: 7px 12px 21px 0px rgba(0, 0, 0, 0.17);
}
.prices-block h4 {
  font-family: 'ProximaNova-Bold', sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  padding: 3rem 1rem;
}
.prices-block img {
  width: 250px;
  height: 170px;
}
.prices-block p {
  font-size: 1.6rem;
  padding: 2rem 0rem;
}
.prices-block p span {
  font-family: 'ProximaNova-Bold', sans-serif;
  font-weight: 500;
  font-size: 1.9rem;
}
.prices-block ul {
  min-height: 15rem;
  padding: 0px;
  line-height: 2;
}
.prices-block li {
  list-style-type: none;
  font-family: 'ProximaNova-Bold', sans-serif;
  font-size: 1.2rem;
}
.prices-block li:before {
  content: '';
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background: url(../img/prices/checked.png) center no-repeat;
  vertical-align: middle;
  padding: 1rem 1rem;
}
.prices button {
  margin-bottom: 2rem;
}
.feedback {
  position: relative;
  background-color: white;
}
.feedback-prev-btn {
  left: -4rem;
}
.feedback-next-btn {
  right: -4rem;
  background: none;
}
.feedback-slider {
  background-color: white;
  -webkit-box-shadow: 6px 10px 18px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 6px 10px 18px 0px rgba(0, 0, 0, 0.5);
  padding: 5rem 6rem;
}
.feedback-slider-btn {
  position: absolute;
  top: 50%;
  width: 4rem;
  height: 3rem;
  border: none;
}
.feedback-slider p {
  font-size: 1.3rem;
}
.feedback-slider h4 {
  font-weight: 600;
  font-size: 1.3rem;
}
.feedback-slider span {
  font-size: 1.2rem;
}
.feedback-text {
  position: relative;
  border: 2px solid #46b914;
  padding: 1rem 1rem;
  margin-top: 2rem;
  font-style: italic;
}
.feedback-text::before {
  content: '';
  display: block;
  position: absolute;
  top: -2rem;
  left: 6rem;
  width: 2rem;
  height: 2.05rem;
  background-color: white;
  border: 2px solid #46b914;
  border-bottom: none;
  border-top-right-radius: 100px;
}
.feedback-klient {
  border-radius: 100px;
}
.feedback-klient-name {
  font-size: 3rem;
  padding-top: 2rem;
}
.feedback-form {
  margin-top: 5rem;
}
.feedback-form h3 {
  font-family: 'ProximaNova-Bold', sans-serif;
  font-weight: 500;
  font-size: 2.3rem;
}
.feedback-btn {
  margin-top: 3rem;
  padding: 2rem 6rem;
}
.heand {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 30rem;
}
.media {
  margin-top: 2rem;
}
.sheme-section-header h2 {
  font-family: 'ProximaNova-Bold', sans-serif;
  font-size: 3.6rem;
}
.sheme-section-header p {
  margin-top: 4rem;
  font-size: 1.5rem;
}
.sheme-content {
  position: relative;
}
.sheme-block {
  width: 30rem;
}
.sheme-block img {
  padding-bottom: 3em;
  width: 130px;
}
.sheme-block h4 {
  padding-bottom: 2rem;
  font-size: 1.5rem;
  font-family: 'ProximaNova-Bold', sans-serif;
}
.sheme-block p {
  padding-bottom: 2rem;
  font-size: 1.2rem;
  width: 23rem;
}
.sheme-heand {
  position: absolute;
  z-index: -1;
  bottom: 0;
  right: -20rem;
  max-width: 60rem;
}
.all-inclusive {
  background: url(img/all-inclusive/back.png) center no-repeat;
}
.all-inclusive-header h2 {
  color: #46b914;
  font-size: 3.6rem;
}
.all-inclusive-header p {
  margin-top: 4rem;
  font-size: 1.5rem;
  margin-bottom: -5rem;
}
.all-inclusive-media {
  padding-left: 1rem;
  padding-top: 1rem;
  margin-top: 5rem;
  font-size: 1.2rem;
}
.all-inclusive-media h4 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: 'ProximaNova-Bold', sans-serif;
}
.circle {
  display: inline-block;
  background-color: #46b914;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.circle-border {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  border: 2px solid #46b914;
  border-radius: 50%;
  text-align: center;
  line-height: 4rem;
  padding: 0.2rem;
  color: white;
  font-family: 'ProximaNova-Bold', sans-serif;
  font-size: 1.9rem;
  margin-top: 5rem;
}
.problems {
  position: relative;
}
.problems-women {
  position: absolute;
  width: 28rem;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-60%);
          transform: translateX(-60%);
}
.problems-list {
  padding: 3rem 3rem;
  min-height: 31rem;
}
.problems-list h4 {
  font-size: 1.7rem;
  padding-bottom: 2rem;
}
.problems-list ul {
  list-style-type: none;
  padding-left: 0rem;
}
.problems-list li {
  font-size: 1.2rem;
  padding-bottom: 2rem;
  position: relative;
  padding-left: 2.5rem;
}
.problems-list li:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  width: 1rem;
  height: 1rem;
  background-color: black ;
  background-size: 100%;
  vertical-align: middle;
  padding: 1rem 1rem;
}
.problems-list-bad {
  border: 3px solid #e8e8e8;
}
.problems-list-bad h4 {
  opacity: 0.5;
}
.problems-list-bad li:before {
  background: url(../img/problems/cancel.png) center no-repeat;
  background-size: 80%;
}
.problems-list-good {
  border: 3px solid #46b914;
}
.problems-list-good li:before {
  background: url(../img/problems/checked.png) center no-repeat;
  background-size: 80%;
}
@media (max-width: 991px) {
  .main {
    background-position: top right;
  }
  .phone-block {
    text-align: center;
  }
  .main-content {
    margin-top: 2rem;
  }
  .main-tittle {
    text-align: center;
    padding-bottom: 3rem;
  }
  .feedback-main-p {
    margin-top: 3rem;
  }
  .sheme-heand {
    display: none;
  }
  .problems-women {
    display: none;
  }
}
@media (max-width: 764px) {
  .heand {
    display: none;
  }
  .sheme-block p {
    width: 20rem ;
  }
}
@media (max-width: 575px) {
  .main {
    text-align: center;
  }
  .header {
    text-align: center;
  }
  .wrap-block {
    text-align: center;
  }
  .main-content {
    margin-top: 13rem;
  }
  .main-title {
    font-size: 2rem;
  }
  .button {
    height: 5rem;
  }
  .popup-content {
    width: 300px;
  }
  .feedback-prev-btn {
    left: 0rem;
    background: none;
  }
  .feedback-next-btn {
    right: 0rem;
    background: none;
  }
  .sheme {
    text-align: center;
  }
  .sheme-block p {
    width: 100%;
  }
  .all-inclusive-media {
    max-width: 20rem;
  }
}
